body {
  font-family: "Times New Roman", Times, serif;
  background-color: #f6f2e8;
  margin: 20px;
}

h1 {
    font-family: 'UnifrakturCook', "Times New Roman", Times, serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #8b4513;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #8b4513;
  color: #fff;
  font-family: 'UnifrakturCook', "Times New Roman", Times, serif;
  font-size: 1.5rem;
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #ffe4c4;
}

tr:hover {
  background-color: #ffdab9;
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #8b4513;
  color: #f6f2e8;
  padding: 8px;
}

.loader {
  height: 20vh;
  min-height: 7rem;
  width: 100%;
  font-size: 3rem;
  display: grid;
  place-content: center;
}
